{% comment %} Using on all site wide when can not find product or for demo {% endcomment %}
<div class="grid-view-item product-card">
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="#">
    <span class="visually-hidden">{{ 'homepage.onboarding.product_title' | t }}</span>
  </a>
  <div class="grid-view-item__image-wrapper">
    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
    {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <div class="h4 grid-view-item__title" aria-hidden="true">{{ 'homepage.onboarding.product_title' | t }}</div>
  {% include 'product-price' %}
</div>