<div class="gp-popup gp-popup-quickview" id="gp-popup-quickview">
  <div class="popup__columns">
    <div class="ajax_header">
      <button title="Close (Esc)" type="button" class="mfp-close"></button>
    </div>
    <div class="quickview-popup-content">
      
    </div>
  </div>
</div>