<div class="wishlist-slideout-container">
  <div class="wishlist-content wishlist-slideout">
    <div class="wishlist-slideout-inner">
      <div class="btn-wishlist-close"></div>
      <div class="header-wishlist-title">
        <h3>{{ 'general.wishlist.title' | t }}</h3>
      </div>
      <div class="wishlist-dropdown-wrapper">
        <div class="ajax-loader"></div>
        <div class="wishlist-items-wrapper">
          <ol id="wishlist-items" class="wishlist-items">
            
          </ol>
        </div>
        <div class="wishlist-items-empty">
          <p class="empty">{{ 'general.wishlist.empty' | t }}</p>
        </div>
      </div>
    </div>
  </div>
</div>